<h1>Listing videos</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>Duration</th>
    <th>Width</th>
    <th>Height</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.filename %></td>
    <td><%= video.duration %></td>
    <!-- <td><%= video.width %></td>
    <td><%= video.height %></td> -->
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
