	<style type="text/css">
		#video_div { display:block; top: 10px; left: 10px;  }
		#video_source { width: 200px; }
	</style>
	
	<div class="section">
		<div class="box medium">
			<div class="title">
				<h2>Video Information</h2>
				<span class="hide"></span>
			</div>
			<div class="content"  style="height:360px;">
				<h3>Filename</h3>
				<%= @video.filename %><br />
								<br />

				<h3>Published Since</h3>
				<%= @video.created_at %>
				<br /><br />
				<h3>Age</h3>
				<%= distance_of_time_in_words(Time.now, @video.created_at) %>
				<br /><br />
				<h3>M3U8</h3>
				<table with="300px;">
					<td width="300px;">
				<span style="display:block;">
			 	<%= link_to @video.m3u8.gsub("/mobile","/mobile<br/>").html_safe,@video.m3u8 %>
			</span>
			</td>
			</table>
				<br />
				<h3>SMIL</h3>
				<table with="300px;">
					<td width="300px;">
				<span style="display:block;">
				<%= link_to @video.smil.gsub("/hdflash","/hdflash<br/>").html_safe,"http://mediapm.edgesuite.net/edgeflash/public/debug/HDPlayer.html?autostart=true&url= + #{@video.smil}", :target => "_blank" %></span>
				</td>
				</table>
			</div>
			
		</div>
		<div class="box medium">
			<div class="title">
				<h2>Preview</h2>
				<span class="hide"></span>
			</div>
			<div class="content" style="height:360px;">
				<%= render :partial => "shared/video_player"%>
			</div>
		</div>
		<div class="section">
			<div class="box small">
				<div class="title">
					<h2>m3u8</h2>
				</div>
				<div class="content"><%= link_to qrcode(@video.m3u8), @video.m3u8 %>
				</div>
			</div>
			<div class="box small">
				<div class="title">
					<h2>700kbps</h2>
				</div>
				<div class="content"><%= link_to qrcode(@video.mp4(700)), "http://mediapm.edgesuite.net/edgeflash/public/debug/HDPlayer.html?autostart=true&url= + #{@video.mp4(700)}", :target => "_blank" %>
				</div>
			</div>
			<div class="box small">
				<div class="title">
					<h2>1200kbps</h2>
				</div>
				<div class="content"><%= link_to qrcode(@video.mp4(1200)), "http://mediapm.edgesuite.net/edgeflash/public/debug/HDPlayer.html?autostart=true&url= + #{@video.mp4(1200)}", :target => "_blank" %>
				</div>
			</div>
			<div class="box small">
				<div class="title">
					<h2>Play.asp</h2>
				</div>
				<div class="content"><%= qrcode(@video.m3u8)%>
				</div>
			</div>
		</div>
	</div>
	

