<div class="section">
	<div class="box">
		<div class="title">
			<h2><%= @category %></h2>
			<span class="Hide"></span>
		</div>
		<div class="content">
			<table cellspacing="0" cellpadding="0" border="0" class="table-all"> 
				<thead> 
					<tr> 
						<th><input type="checkbox" name="check" class="checkall" /></th>
						<th>Category</th>
						<th>Filename</th>
						
						<th width="100px">Total Views</th>
						<th>Duration</th>
						<th width="200px">Date</th>
						<th>File Size</th>
						<th>State</th>
					</tr> 
				</thead> 
				<tbody> 
					<% @videos.each do |video| %>
					<tr> 
						<td><input type="checkbox" name="check" /></td>
						<td><%= link_to video.category.capitalize, :controller => "videos", :action => "category", :category => video.category %></td>
					    <td><%= link_to video.filename, video %></td>
						<td>2,332</td>
					    <td><%= convert_seconds_to_time(video.duration)  %></td>
						
						<td><%= video.created_at %></td>
						<td>10MB</td>
						<td>
							<% if video.online? %>
							<%= link_to "Online ", "#", :class => "button green" %>
							<% else %>
							<%= link_to "Offline", "#", :class => "button red" %>
							<% end %>
						</td>
					</tr>
					<% end %>
					
				</tbody> 
			</table>
			<div id="pager" class="pager">
				<form action="">
					<button type="submit" class="red"><span>Delete</span></button>
					<div>
						<img src="gfx/table-first.gif" class="first" alt="First" />
						<img src="gfx/table-prev.gif" class="prev" alt="Previous" />
						<input type="text" class="pagedisplay"/>
						<img src="gfx/table-next.gif" class="next" alt="Next" />
						<img src="gfx/table-last.gif" class="last" alt="Last" />
					</div>
					<select class="pagesize">
						<option selected="selected" value="5">5</option>
						<option value="10">10</option>
						<option value="25">25</option>
						<option value="50">50</option>
					</select>
				</form>
			</div>
			<button type="submit" class="red"><span>Delete</span></button>
		</div>
	</div>
</div>


