
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
	<title>JC Encoder | The Hong Kong Jockey Club</title>
	<style type="text/css">
		@import url("../stylesheets/login.css");
		@import url('../stylesheets/style_text.css');
		@import url('../stylesheets/form-buttons.css');
		@import url('../stylesheets/link-buttons.css');
		@import url('../stylesheets/messages.css');
		@import url('../stylesheets/forms.css');
	</style>
	
		<%= javascript_include_tag 'jquery-1.6.2.min' %>	
		<%= javascript_include_tag 'rails' %>
	
	<!--[if lte IE 8]>
		<script type="text/javascript" src="javascripts/excanvas.min.js"></script>
	<![endif]-->
	
</head>

<body>

<div class="wrapper">
		
	<div class="box">
		<div class="container hide-input">
			<h1><a href="#">JC Encoder</a></h1>
			<h2>Login:</h2>

			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  <%= f.email_field :email, :class => 'small',:value => 'USERNAME@hkjc.org.hk' %>

			  <%= f.password_field :password, :class => 'small', :value => 'PASSWORD' %>
				<button type="submit" class="blue medium"><span>Login</span></button>
				<button type="reset" class="red medium"><span>Reset</span></button>
				
			<% end %>

			<div class="bottom">
				<div class="messages blue">
					<span></span>
					<% if flash.blank? %>

					<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
					  <%= link_to "Don't have an account? Please sign up.", new_registration_path(resource_name),:style => "color:white;" %><br />
					<% end -%>

					<% else %>
					<% flash.each do |name, msg| %> 
					    <%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash"%> 
					<% end %> 
					<% end%>
				</div>
			</div>
		</div>
	</div>
	
</div>

<script type="text/javascript" src="../javascripts/superfish.js"></script>
<script type="text/javascript" src="../javascripts/supersubs.js"></script>
<script type="text/javascript" src="../javascripts/hoverIntent.js"></script>
<script type="text/javascript" src="../javascripts/jquery.flot.js"></script>
<script type="text/javascript" src="../javascripts/jquery.graphtable-0.2.js"></script>
<script type="text/javascript" src="../javascripts/jquery-ui.js"></script> 
<script type="text/javascript" src="../javascripts/customInput.jquery.js"></script>
<script type="text/javascript" src="../javascripts/jquery.tablesorter.js"></script>
<script type="text/javascript" src="../javascripts/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" src="../javascripts/jquery.sparkbox-select.js"></script>
<script type="text/javascript" src="../javascripts/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="../javascripts/jquery.filestyle.mini.js"></script>
<script type="text/javascript" src="../javascripts/date.js"></script>
<script type="text/javascript" src="../javascripts/jquery.datepicker.js"></script>
<script type="text/javascript" src="../javascripts/jquery.treeview.js"></script>
<script type="text/javascript" src="../javascripts/jquery.tipsy.js"></script>
<script type="text/javascript" src="../javascripts/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="../javascripts/plugins/wysiwyg.rmFormat.js"></script>
<script type="text/javascript" src="../javascripts/controls/wysiwyg.image.js"></script>
<script type="text/javascript" src="../javascripts/controls/wysiwyg.link.js"></script>
<script type="text/javascript" src="../javascripts/controls/wysiwyg.table.js"></script>
<script type="text/javascript" src="../javascripts/inline.js"></script>

</body>

</html> 
<!-- Localized -->